 .meter {
     font-size: 1px;
     height: 3px;
 }
 .meter-inner {
     width: 0px;
     height: 3px;
 }
 .meter-red .meter-inner{
     background: red;
 }
 .meter-orange .meter-inner{
     background: orange;
 }
 .meter-green .meter-inner{
     background: green;
 }
